.promo {
    &--banner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: black;
        color: white;
        padding: 0.625em;

        &__text {
            flex-grow: 1;
            text-align: center;
        }

        .banner__close--button {
            background: none; /* Remove background */
            border: none; /* Remove border */
            position: absolute;
            right: 1em;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
        }

        .icon-cross::before {
            content: "\e919";
            color: white; /* Set the icon color to white */
            font-size: 0.9em; /* Adjust size as needed */
        }
    }
}
