// icons
@font-face {
    font-family: "EAN13";
    src: url("../fonts/ean13.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon {
    &--big {
        font-size: 35px;
    }

    &--medium {
        font-size: 20px;
    }

    &--medium-alt {
        font-size: 14px;
    }

    &--small {
        font-size: 9px;
    }
}

.icon-cross {
    &:before {
        content: "\e919";
    }
}
