$body-bg-color: #f8f9fa;

$banner-bg-color: #000e38;
$banner-text-color: #fff;
$banner-font-size: .875rem;
$banner-font-family: "Roboto Condensed", sans-serif;
$banner-font-weight: 700;

$font-title: "Bebas Neue", sans-serif;
$font-main: "Montserrat", sans-serif;
$font-secondary: "Roboto", sans-serif;
$font-highlight: "Playfair Display", serif;
$font-arial: "Arial", sans-serif;
$font-highlight2: "Kaufmann Bd BT", sans-serif;
$font-highlight3: "Montserrat", sans-serif;

$font-icomoon: "icomoon";
