.promo-banner {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center; /* Center items vertically */
    background-color: #333;
    color: #fff;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: rem-calc(8px) 0 rem-calc(8px);
}

.promo-text {
    grid-column: 2; /* Place the text in the middle column */
    text-align: center; /* Center the text within the spanned area */
}

.close-btn {
    grid-column: 3; /* Place the button in the last column */
    justify-self: end; /* Align the button to the end of its column */
    background: none;
    text-align: center;
    line-height: 1; /* Adjust as needed */
    border: none;
    color: #fff;
    padding: 0;
    margin: 0 rem-calc(10px) 0 0;
    font-size: rem-calc(20px);
}

.close-btn svg {
    display: block; /* Remove any extra space around the SVG */
}
