
.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribute space between items */
    background-color: white; /* Change to white if needed */
    padding: rem-calc(8);
    position: sticky;
    top: 0;
    z-index: 101; /* Ensure it stays above the promo banner */
    width: 100%; /* Ensure it spans the full width */
}

.left-items {
    display: flex;
    align-items: center;
}

.menu {
    > * {
        -webkit-overflow-scrolling: auto!important;
    }
    &__toggler {
        color: black;
        background-color: transparent; /* Remove background */
        border: none; /* Remove border */

        .line {
            fill: none;
            stroke: currentColor;
            stroke-width: 6;
            transition:
                stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .line1 {
            stroke-dasharray: 60 207;
            stroke-width: 4;
        }

        .line2 {
            stroke-dasharray: 60 60;
            stroke-width: 4;
        }

        .line3 {
            stroke-dasharray: 60 207;
            stroke-width: 4;
        }

        &.opened {
            .line1 {
                stroke-dasharray: 90 207;
                stroke-dashoffset: -134;
                stroke-width: 4;
            }

            .line2 {
                stroke-dasharray: 1 60;
                stroke-dashoffset: -30;
                stroke-width: 4;
            }

            .line3 {
                stroke-dasharray: 90 207;
                stroke-dashoffset: -134;
                stroke-width: 4;
            }
        }
    }

    &__nav {
        height: calc(100% - 71px);

        @include media-breakpoint-up(lg) {
            height: 100%;
            position: relative;
            display: inline-block;
            z-index: 1;
        }

        @include media-breakpoint-down(md) {
            margin-top: 0 !important; // overwrite inline style
        }
    }
}

.icon-burger::before {
    content: "\e91d";
}

.logo {
    margin-left: rem-calc(15);
    transition: color 0.3s;
    line-height: 1;

    &__icon {
        font-size: rem-calc(18);

        @include media-breakpoint-up(lg) {
            font-size: rem-calc(22);
        }
    }

    @include media-breakpoint-up(lg) {
        margin-left: rem-calc(37);
    }
}

.icon-logo::before {
    content: "\e90f";
}

.right-items {
    display: flex;
    align-items: center;
    margin-right: rem-calc(15); /* Adjust as needed */
}

.icon-cart::before {
    content: "\e91b"; /* Use the appropriate icon code */
    font-size: rem-calc(25);
    margin-left: rem-calc(10); /* Space between icons */
}
